.user-info{
  background-color: grey;
  margin-top: 20px;
  color: white;
}

.user-info:first-child{
  margin-top: 0;
}

.nav-active{
  border-bottom: 2px solid blue;
  color: rgb(10, 10, 208);
  background-color: white;
  text-decoration: none;
}

.nav-inActive{
  color: rgb(118, 107, 107);
  background-color: white;
}